org: navbryce
app: splitzies-functions
service: splitzies-functions

frameworkVersion: '3'

provider:
  name: aws
  runtime: python3.9

functions:
  generate-sheets:
    handler: generate_sheets.main
    events:
      - http:
          path: generate-sheet
          method: post
          cors: true

plugins:
  - serverless-python-requirements
  - serverless-ignore
